header {
    text-align: center;
}

article, .moi p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 255px;
    max-height: 255px;
}

p {
    text-align: justify;
    margin-inline: 5px;
}

span {
    font-size: large;    
}

footer h2 {
    margin-inline: 35%;
}

footer span {
    font-size:larger;
    text-align: center;
    margin: 5px;
}

.mecontacter {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.mecontacter img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

@media screen and (min-width: 500px) {
    .projects article:nth-child(even) {
        display: flex;
        flex-direction: row;
    }
    .projects article:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
        /* background-color: #0aa; */
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }
    p, h1, h2, h3 {
        color: #eee;
    }
    a {
        color: #faa;
    }
    header, footer {
        background-color: #240;
    }
    span {
        color: rgb(255, 88, 88);
    }
    .mecontacter span {
        color: #faf;
    }
}

@media (prefers-color-scheme: light) {
    header, footer {
        background-color: #aea;
    }
    span {
        color: #a00;
    }
}